<div class="credits panel-footer text-right">
    <div id="" class="text-right">
        <span>
            <small>
                <ol class="breadcrumb">
                    <li><a href="https://github.com/trigork/PersonaQFusionCalculator">v0.7.5</a></li>
                    <li>by <a href="https://twitter.com/amarriner">@amarriner</a> & <a href="https://twitter.com/trigork">@trigork</a></li>
                    <li>Based on
                        <a href="http://www.gamefaqs.com/3ds/739685-persona-q-shadow-of-the-labyrinth/faqs/70843">this FAQ</a>
                    </li>
                </ol>
            </small>
        </span>
    </div>
</div>
